html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: rgb(53, 45, 45);
    box-sizing: border-box;
    height: 500px;
    width: 375px;
    padding: 30px;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.result {
    height: 60px;
    width: 315px;
    background-color: rgb(136, 156, 124);
    border-radius: 15px;
}

#input {
    height: 25px;
    width: 300px;
}

#output {
    height: 25px;
    width: 300px;
}

.buttons {
    display: flex;
    flex-direction: column; 
    margin-top: 30px;
}

.btnsLow {
    display: flex;
}

.btnsHigh {
    display: flex;
}

.btnsLeft {
    display: flex;
    flex-wrap: wrap;
}

.btnsMid {
    display: flex;
    flex-direction: column;
}

.btnsRight {
    display: flex;
    flex-direction: column;
}

button {
    margin: 7.5px;
    height: 48px;
    width: 48px;
    border-width: 0px;
    padding: 0px;
}

.wideBtn {
    width: 111px;
}

.highBtn {
    height: 111px;
}